ZJU_USERNAME=3240100000
ZJU_PASSWORD=your_passw0rd

# For pintia.cn (Optional)
# Copy the Cookie request header from a logged-in browser session.
PINTIA_COOKIE="JSESSIONID=00000000000000000000000000000000; PTASession=00000000-0000-0000-0000-000000000000"

# For DingTalk notification(Optional)
ENABLE_DINGTALK=true # set to anything except "true" to disable
DINGTALK_WEBHOOK="https://oapi.dingtalk.com/robot/send?access_token=your_access_token"
DINGTALK_SECRET="SECyour_secret_token"
